body {
  background-image: url(imgs/papiro.jpg);
  margin: 0;
  background-repeat: repeat;
  height: 100%;
}

.x {
  border-radius: 30%;
  border: 3px solid rgb(132, 0, 255);
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 200px;
}

h1 {
  text-align: center;
  font-family: cursive;
}

h2 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding-left: 10px;
  padding-right: 10px;
}

.a {
  border-radius: 30%;
  border: 2px solid rgb(132, 0, 255);
  float: left;
  margin-right: 10px;
  width: 200px;
}

html,
body {
  min-height: 100%;
}

#cabecalho {
  background-image: url(imgs/cemitério1.jpg);
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 34px;
}

h1 {
  margin: 0;
}

.titulo {
  font-size: 36px;
  color: white;
  text-align: center;
}

img {
  margin-left: 10px;
  margin-top: 15px;
}

#dados {
  float: right;
  border: 1px solid #666266;
  background-color: #ccbfcc;
  width: 325px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  margin-top: 30px;
}

#cabecalhomed {
  background-image: url(imgs/med.gif);
  background-repeat: no-repeat;
  background-position: 13em;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 34px;
  background-color: rgb(180, 92, 221);
}

#dados h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
}

#cabecalhopan {
  background-image: url(imgs/gifcoronavirus.gif);
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 34px;
}

#cabecalhopan h1 {
  color: black;
  text-align: left;
  font-size: 42px;
}

nav {
  list-style-type: none;
  margin: 0px;
  text-align: center;
}

ul {
  background-color: rgb(148, 83, 202);
  padding-left: 0px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  display: inline-block;
  padding: .2rem;
  position: relative;
}

li:hover {
  text-decoration: underline;
}

li:active {
  right: -4px;
  top: -4px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px black;
  padding: 0 10px;
}

a:link {
  color: rgb(255, 255, 255);
}

a:visited {
  color: orange;
}

a:hover {
  text-decoration: rgb(255, 255, 255);
}

a:active {
  color: yellow;
}

footer{
  padding-top: 20px;
  background-image: linear-gradient(rgb(122, 41, 228), #ad93f5);
  padding-bottom: 70px;
  margin: 0;
  padding-left: 10px;
}

.foto {
  width: 110px;
  border-radius: 100%;
  float: left;
  margin: 0;
  padding-right: 15px;
}

#titulorodape {
  text-align: left;
  padding-bottom: 5px;
}

footer p {
  font-size: 15px;
  font-family: cursive;
}

#Bart {
  float: right;
  padding-right: 10px;
  width: 190px;
  padding-bottom: 10px;
}

#im {
  border-radius: 20%;
  border: 2px solid rgb(132, 0, 255);
  float: left;
  margin-right: 10px;
  width: 150px;
  margin-top: 0px;
}

.titulomed {
  margin: 0;
  padding-top: 20px;
}

.imagem {
  border-radius: 30%;
  border: 2px solid rgb(132, 0, 255);
  float: left;
  margin-right: 10px;
  width: 200px;
  margin-top: 0px;
}

#medica {
  float: left;
  width: 250px;
  margin-top: 0px;
  margin-right: 10px;
  border-radius: 30%;
  border: 2px solid rgb(132, 0, 255);
}

#Cury {
  float: left;
  width: 250px;
  margin-top: 0px;
  margin-right: 10px;
  border-radius: 30%;
  border: 2px solid rgb(132, 0, 255);
}

#antibiotico {
  float: left;
  width: 180px;
  margin-top: 0px;
  margin-right: 10px;
  border-radius: 30%;
  border: 2px solid rgb(132, 0, 255);
}

@media (min-width: 400px) and (max-width: 550px) {

  ul {
    flex-direction: column;
  }
}

@media (max-width: 399px) {
  ul {
    flex-direction: column;
  }
}

@media (min-width: 315px) and (max-width: 338px) {
  #dados {
    width: 300px;
  }
}

@media (min-width: 293px) and (max-width: 314px) {
  #dados {
    width: 280px;
  }
}

@media (min-width: 274px) and (max-width: 292px) {
  #dados {
    width: 255px;
  }
}

@media (min-width: 250px) and (max-width: 273px) {
  #dados {
    width: 235px;
  }
}

@media(max-width: 249px) {
  #dados {
    width: 220px;
  }
}
@media (min-width: 364px) and (max-width: 388px) {
  #dados {
    width: 350px;
  }
}

@media (min-width: 389px) and (max-width: 413px) {
  #dados {
    width: 375px;
  }
}
@media (min-width: 414px) and (max-width: 438px) {
  #dados {
    width: 400px;
  }
}
@media (min-width: 439px) and (max-width: 458px) {
  #dados {
    width: 420px;
  }
}

/*O ester egg!!
Troque o ponto e vírgula depois do "alternate" por uma vírgula e exclua as barras e os asteriscos antes do "girando 3.5s" , depois do "alternate;",
antes do "@keyframes girando" e depois da última chave(}).
Agora, salve o arquivo e veja a mágica acontecer nas fotos dos autores no rodapé !!!
*/

.foto {
  position: relative;
  animation: flutuando .5s ease-in-out 0s infinite alternate;
            /*girando 3.5s ease-in-out 1s infinite alternate;*/
}

/*@keyframes girando{
  from{transform: rotate(0deg);}
  to{transform: rotate(720deg);}

}*/

@keyframes flutuando {
  from {
    top: 0;
  }

  to {
    top: -5px;
  }
}








